#ifndef SECRETS_H
#define SECRETS_H

// WiFi credentials and MQTT password

#define WIFI_SSID "SSID_HERE"
#define WIFI_PASSWORD "PASSWORD_HERE"
#define MQTT_PASSWORD "MQTT_PASSWORD_HERE"

#endif // SECRETS_H